.venv/
venv/
__pycache__/
.pytest_cache/
reports/
*.pyc
build/
dist/

Notes.docx

devsecops_agent.egg-info/

artifacts/

artifacts/

.test-venv/

.pytest_tmp/

.pytest_tmp_test/

devsecops_agent.egg-info/

dist/

Notes.docx

pypl-packaging.docx
